@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";

@import "../sass/base";

#site-logo {
    background: none !important;
    background-image: none !important;
    text-indent: 0 !important;
    color: inherit !important;
}

